BODY {
	FONT-SIZE: 12px; BACKGROUND: url(images/bg1.jpg) #ffffff repeat-x left top; MARGIN: 0px; COLOR: #4c4e50; FONT-FAMILY: Arial,ו
}

IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
